<div class="container">
    <h3>Sprints</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Duration</th>
                <th>Status</th>
                <th>Progress</th>
                <th>Description</th>
                <th >Notify</th>                
                <th>Created At</th>
                <th>Started At</th>
                <th>Finished At</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let sprint of apiService.sprints">
                <td>{{sprint.name}}</td>
                <td>{{sprint.duration}}</td>
                <td>{{sprint.status}}</td>
                <td>{{sprint.progress}}%</td>
                <td>{{sprint.description}}</td>
                <td>{{sprint.notify}}</td>                
                <td>{{sprint.createdAt | date:'dd-MM-yyyy'}}</td>
                <td>{{sprint.createdAt | date:' HH:mm:ss'}}</td>
                <td>{{sprint.finishedAt | date:' HH:mm:ss'}}</td>
            </tr>
        </tbody>
    </table>
</div>