<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">
    <h3>
      <img src="assets/64308-200.png" width="30" height="30" class="d-inline-block align-top" alt="">
      Welcome to sprint!
      <button class="btn " type="submit" routerLink="/">Home</button>
      <button class="btn " type="submit" routerLink="/create">New sprint</button>
      <button class="btn " type="submit" routerLink="/progress">Progress</button>
      <button class="btn " type="submit" routerLink="/sprints">Sprints</button>
      <button class="btn " *ngIf="!auth.isAuthenticated()" (click)="login()">Login</button>
      <button class="btn " *ngIf="auth.isAuthenticated()" (click)="goToLogout() || logout()">Logout</button>
    </h3>
  </a>

  <!-- <form class="form-inline">
      <button class="btn  my-2 my-sm-0" type="submit" routerLink="/sprints">Login</button>  
    </form> -->
</nav>

<router-outlet></router-outlet>
<!-- <app-home></app-home> -->