<p>
  create works!
</p>


<div class="container">
  <div class="row">
    <div class="col-sm">
    </div>

    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h4 class="card-title"><a>Start a sprint!</a></h4>
          <hr>
          <form [formGroup] = "postSprint" (ngSubmit)="post(postSprint.value)">
            


            <label>Subject</label>
            <select formControlName='name' class="browser-default custom-select mb-4" >
              <option value="" selected hidden >Choose length</option>
              <option value="Instant (5s)">Instant (5s)</option>
              <option value="Very short (5min)">Very short (5min)</option>
              <option value="Shot (15min)">Shot (15min)</option>
              <option value="Pomodoro (25min)">Pomodoro (25min)</option>
              <option value="Long (45min)">Long (45min)</option>
              <option value="Very long (60min)">Very long (60min)</option>
            </select>

            <input formControlName='description'  class="form-control mb-4" placeholder="Description">
            <input formControlName='notify' type="checkbox" aria-label="Checkbox for following text input">

            <button type="submit" class="btn  btn-block">Start</button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-sm">
    </div>
  </div>
</div>