<div class="container">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">        


        <div class="card-body">


          <h4 class="card-title"><a>About</a></h4>
          <hr>

          <p class="card-text">Sprint is a minimalist desktop time management application inspired by the <a href="https://en.wikipedia.org/wiki/Pomodoro_Technique">Pomodoro
              Technique</a>.
            Choose a sprint length, enter a brief description of the activity, and get things done. <br>
            Preferred browser: <a href="https://www.google.com/chrome/">Chrome</a>. <br>
            Terms and conditions.</p>

        </div>
      </div>
    </div>
    <div class="col-sm">
    </div>
  </div>

  <div class="row align-items-end">
    <div class="col-sm">
    </div>
    <div class="col-sm">
      Version 2
    </div>
    <div class="col-sm">
    </div>
  </div>

</div>



